<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
{% load analytical %}
<html lang="en">

<head>
    {% analytical_head_top %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A simple search interface for finding an open source project looking for help.">
    <meta name="author" content="Maxwell Willard">

    <title>Find an Open Source Project</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/creative.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% analytical_head_bottom %}
</head>

<body id="page-top">
    {% analytical_body_top %}
    <div class="intro">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Find an Open Source Project</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#search_results">Search Results</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#howto">How To</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Find an Open Source Project</h1>
                <div class="col-lg-12"> 
                    <p>Improve your skills, spruce up your resume, and join the Open Source Community!</p>
                </div>
                <br>
                <div class="col-lg-10 text-center">
                    {% crispy form %}
                </div>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="search_results">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 class="text-center">Results</h1>
                <br>
            </div>
        </div>
        <div id="results">
            <h4 class="text-center left-right-padded">Complete the above form to browse open source projects looking for help!</h4>
        </div>
        <br>
        <div id="pagination" class="col-lg-12 text-center">
        </div>
    </section>
    
    <section id="howto">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How To</h2>
                    <br>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="text-center">A good, general tutorial on contributing to open source projects can be found at <a href="https://guides.github.com/activities/contributing-to-open-source/">https://guides.github.com/activities/contributing-to-open-source/</a>
                </div>
                <hr>
                <div class="text-center">There are numerous online resources for learning Git.  <a href="https://try.github.io/">https://try.github.io/</a> is an interactive option.
                </div>
        </div>
    </section>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">

                <div class="text-center">This project is a result of my struggles with Github's searching interface.  I had difficulties with it even as I worked on this project!  Hopefully this project will make contributing to open source projects more accessible to new programmers. Learn more about me at <a class="dark-link" href="http://maxwellwillard.me" rel="nofollow">maxwellwillard.me</a>.</div>
                </div>
     </section>

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'js/creative.min.js' %}"></script>

    <script type="text/javascript">
        var frm = $('#id-search');
        var current_page = 0;
        var pk = 0;
        var total_pages = 0; 
        frm.submit(function () {
            
            $("#pagination").html("");
            $("#results").html("<div class='text-center'><span class='glyphicon glyphicon-refresh spinning'></span></div>");
            $('html, body').stop().animate({
                scrollTop: ($('#search_results').offset().top - 50)
            }, 1250, 'easeInOutExpo');

            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    current_page = 0;
                    pk = data.pk;
                    total_pages = data.total_pages;
                    $("#results").html(data.html);
                    Paginate(current_page, total_pages);
                },
                error: function(data) {
                    $("#MESSAGE-DIV").html("Something went wrong!");
                }
            });
            return false;
        });

        function GoToPage(page, pk)
        {
                $("#pagination").html("<div class='text-center'><span class='glyphicon glyphicon-refresh spinning'></span></div>");
                $.post('{% url "get_page" %}', 
                    { "csrfmiddlewaretoken": "{{ csrf_token }}", "page": page, "pk" : pk}, 
                    function(returnedData){
                        $("#results").html(returnedData);
                        current_page = page
                        Paginate(page, total_pages); 
                }).fail(function(){
                      console.log("error");
                });
        }
        function Paginate(page, total_pages)
        {
            var html = "";
            if (page != 0) {
                html = html + "<a href='javascript:;' class='dark-link' onclick='GoToPage(" + (page-1) + "," + pk + ")'>prev </a>";
            }

            if (page != total_pages) {
                html = html + "<a href='javascript:;' class='dark-link' onclick='GoToPage(" + (page+1) + "," + pk + ")'>next</a>";
            }
            $("#pagination").html(html);
            $('html, body').stop().animate({
                scrollTop: ($('#search_results').offset().top - 50)
            }, 1250, 'easeInOutExpo');
        }

    </script>
    </div>
    {% analytical_body_bottom %}
</body>

</html>
